<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Deep Network Security</h1>
        <h2>Log In</h2>
        <% if (client.users.cache.size === 0) { %>
            <h2><i>Oops!</i></h2>
            <h3>The bot isn't ready to handle your login yet.</h3>
            <h3>Try reloading?</h3>
        <% } else { %>
            <h3>Enter your Discord Username.</h3>
            <input type="text" id="username"></input>
            <br>
            <button onclick="submit()">Submit</button>
        <% } %>
        <script>
            function submit () {
                let username = document.getElementById('username').value;
            }
        </script>
    </body>
</html>